* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center
}

h1 {
    font-size: 40px;
    line-height: 50px;
    margin: 20px 0;
}

.display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.grid {
    margin: 0 auto;
    width: 651px;
    height: 651px;
    background-color: rgb(223, 155, 66);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.square {
    height: 200px;
    width: 200px;
    border: 2px solid white;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(243, 186, 111);
}

.mole1 {
    background-image: url("media/mole1.png");
    background-size: cover;
    background-color: rgb(31, 139, 89);
}

.mole2 {
    background-image: url("media/mole2.png");
    background-size: cover;
    background-color: rgb(31, 139, 89);
}

.mole3 {
    background-image: url("media/mole3.png");
    background-size: cover;
    background-color: rgb(31, 139, 89);
}

.mole4 {
    background-image: url("media/mole4.png");
    background-size: cover;
    background-color: rgb(31, 139, 89);
}

button {
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 20px;
}

