* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: rgb(43, 42, 42);
    color: bisque;
}

h1 {
    font-size: 40px;
    line-height: 50px;
    margin: 20px 0;
    color: white;
}

.display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.display div {
    margin: 10px 100px;
}

.grid {
    margin: 0 auto;
    width: 651px;
    height: 651px;
    background-color: rgb(223, 155, 66);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px -5px 2px rgb(238, 200, 151);
}

.square {
    height: 200px;
    width: 200px;
    border: 2px solid white;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(243, 186, 111);
    box-shadow: 2px -3px 1px rgb(238, 225, 198);
}

.mole1 {
    background-image: url("media/mole1.png");
    background-size: cover;
    background-color: rgb(31, 139, 89);
}

.mole2 {
    background-image: url("media/mole2.png");
    background-size: cover;
    background-color: rgb(31, 139, 89);
}

.mole3 {
    background-image: url("media/mole3.png");
    background-size: cover;
    background-color: rgb(31, 139, 89);
}

.mole4 {
    background-image: url("media/mole4.png");
    background-size: cover;
    background-color: rgb(31, 139, 89);
}

button {
    padding: 10px 25px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 40px;
    background: linear-gradient(87.4deg, rgb(255, 241, 165) 1.9%, rgb(200, 125, 76) 49.7%, rgb(83, 54, 54) 100.5%);
    color: white;
    font-weight: 600;
    border: none;
    box-shadow: 1px -3px 1px white;
    transition: all 200ms ease-in-out;
    overflow: hidden;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: none;
}

span {
    position: absolute;
    transform: translate(-50%, -50%);
    background: white;
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
    
}
@keyframes animate {
    0%
    {
        width: 1px;
        height: 1px;
        opacity: 0.8;
    }
    100%
    {
        width: 200px;
        height: 200px;
        opacity: 0.1;
    }
}

footer {
    margin-top: 30px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.5px;
}

footer a {
    text-decoration: none;
    color: bisque;
    transition: all 200ms ease-in-out;
}

footer a:hover {
    border: 2px dotted rgb(248, 232, 212);
    color: rgb(248, 232, 212);
    padding: 5px;
    background: rgb(68, 66, 66);
}
@media only screen and (max-width: 820px) {
    .display {
        margin: 40px 0 50px 0;
    }
    .grid {
        width: 530px;
        height: 538px;
        padding: 8px;
        border-radius: 8px;
    }
    .square {
        height: 160px;
        width: 160px;
        margin: 5px;
        border-radius: 8px;
    }
    footer {
        margin-top: 70px;
    }
  }

  @media only screen and (max-width: 580px) {
    h1 {
        font-size: 35px;
        line-height: 40px;
        margin: 15px 0;
    }
    h2 {
        font-size: 19px;
    }
    .display {
        margin: 35px 0 40px 0;
    }
    .display div {
        margin: 10px 60px;
    }
    .grid {
        width: 410px;
        height: 418px;
        padding: 8px;
        border-radius: 8px;
        box-shadow: 2px -5px 2px rgb(238, 200, 151);
    }
    .square {
        height: 120px;
        width: 120px;
        border: 2px solid white;
        margin: 5px;
        border-radius: 10px;
        background-color: rgb(243, 186, 111);
        box-shadow: 2px -3px 1px rgb(238, 225, 198);
    }
    button {
        font-size: 16px;
    }
    footer {
        margin-top: 70px;
        font-size: 16px;
        line-height: 20px;
    }
  }

  @media only screen and (max-width: 390px) {
    h1 {
        font-size: 30px;
        line-height: 35px;
    }
    h2 {
        font-size: 19px;
    }
    .display {
        margin: 25px 0 30px 0;
    }
    .display div {
        margin: 10px 60px;
    }
    .grid {
        width: 305px;
        height: 313px;
        padding: 8px;
        border-radius: 8px;
        box-shadow: 2px -5px 2px rgb(238, 200, 151);
    }
    .square {
        height: 85px;
        width: 85px;
        border: 2px solid white;
        margin: 5px;
        border-radius: 10px;
        background-color: rgb(243, 186, 111);
        box-shadow: 2px -3px 1px rgb(238, 225, 198);
    }
    button {
        font-size: 16px;
    }
    footer {
        margin-top: 265px;
        font-size: 13px;
        line-height: 20px;
    }
  }