* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center
}
.grid {
    margin: 0 auto;
    width: 651px;
    height: 651px;
    background-color: blue;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.square {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 10px;
}

.mole {
    background-color: bisque;
}